.websiteTitle{
    font-size: 250%;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    font-style: italic;

    @media screen and (max-width:1000px) {
        font-size: 180%;
    }
    @media screen and (max-width:500px) {
        font-size: 100%;;
    }
    @media screen and (max-width:200px) {
        font-size: 60%;
        height: 20px;
    }
    @media screen and (max-width:100px) {
        font-size: 50%;
        height: 25px;
    }
}

.phoneNumber{
    font-size: 150%;
    align-items: center;
    justify-content: center;
    display: flex;

    @media screen and (max-width:1000px) {
        font-size: 120%;
    }
    @media screen and (max-width:500px) {
        font-size: 100%;
    }
    @media screen and (max-width:200px) {
        font-size: 60%;
        height: 20px;
    }
    @media screen and (max-width:100px) {
        font-size: 50%;
        height: 25px;
    }
}

.container{
    margin-bottom: 3%;
}

.contact{
    margin-left: 5%;
    background-color: red;
    width: 15%;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}

#email{
    color: black;
}

#number{
    color: black;
}

.address{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: blue;
    height: 40%;
}

.buisnesshours{
    background-color: red;
}

.col{
    @media screen and (max-width:1000px){
        font-size: 70%;
    }
    @media screen and (max-width:400px){
        font-size: 55%;
    }
}

#title{
    @media screen and (max-width:1000px) {
        font-size: 80%;
    }
    @media screen and (max-width:400px) {
        font-size: 50%;
    }

}